*
{
	margin:0px;
	padding:0px;	
	font-family:Circular;
}


@font-face 
{
	font-family: Circular;
	src: url(CircularStd-Bold.otf);
}  

  
.col
{
	width:20px;
	height:20px;
	border:3px solid white;
	background-color:#eeeeee;
}

.col
{
	display:inline;
	float:left;
}

.row
{
	display:block;
	overflow:auto;	
}

body
{
    margin:5% 17.5% 5% 17.5%;
    background-color:rgba(255, 100, 255, 0.9);
    color:white;
    padding:25px;
    border-radius:2px;
    position:relative;
    font-size:18px;
    padding-bottom:80px;
    min-width:500px;
}

html 
{
  background: url(comp.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#display
{
	width:416px;
	margin-top:30px;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background-color:white;
}

.label
{
	border:1px solid white;
	display:inline-block;
	margin-right:10px;
	padding:10px;	
}

#registers, #ports, #controls, #memoryloaders, #buttons
{
	margin-top:30px;
	display:block;
	overflow:auto;	
	text-align:center;
}

#registers .label
{
	margin-right:5px;
	font-size:16px;
}

#controls .label
{
	color:white;
	border:0px;
	border-radius:5px;
	font-weight:bold;
}

#memoryloaders .label
{
	display:block;
	text-align:left;
	margin: 0px auto 20px auto;
	background-color:magenta;
	border:1px solid white;
	width:75%;
}


.filedisplay
{
	font-size:10px;
	padding:5px;
	border:1px dashed white;
	margin-top:10px;
}

.button
{
	background-color:white;
	color:magenta !important;
	cursor:pointer;
	user-select: none;
}

#logo
{
  position:absolute;
  bottom:20px;
  right:20px;
}

.pixelon
{
	background-color:magenta !important;
}

.ibutton
{
	border-radius:50px;
	width:50px;
	height:50px;
	border:8px solid black;
	cursor:pointer;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

#buttons
{
	width:500px;
	margin:30px auto 0px auto;
	
}

.buttons
{
	width:200px;
}

.top-button, .middle-buttons, .bottom-buttons
{
	overflow:auto;
}

.top-buttons, .bottom-buttons
{
	width:100%;
	text-align:center;
}

.top-buttons > .ibutton, .bottom-buttons > .ibutton
{
	display:inline-block;
}


.ibutton.top
{
	background-color: blue;
}

.ibutton.bottom
{
	background-color:red;
}

.ibutton.left
{
	background-color:yellow;
}

.ibutton.right
{
	background-color:green;
}

.on
{
	background-image:url('button-bg.png');
}